

    <nav>
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/8347/8347432.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a >A</a></li>
            <li><a >Solutions</a></li>
            <li><a >Products</a></li>
            <li><a>Services</a></li>
            <div class="search">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
              </form>
          
            </div>
       
            <button class="login-button" (click)="route()">Login</button>
            <button class="join-button" >Join</button>
   
        </ul>
    </nav>


