<div class="container">
  <div *ngIf="isBlogPage; else showProjects">
    <div class="header">
      <button class="back-btn" (click)="gomain()">←</button>
      <button class="add-blog-btn" (click)="navigateAdd()">Blog Ekle</button>
    </div>
    <div class="blog-container">

      <div *ngFor="let blog of blogs" class="blog-card">
        <img [src]="blog.blogPhoto" alt="{{ blog.title }}" class="blog-image" />
        <h3 class="blog-title">{{ blog.title | slice: 0:32 }}</h3>
        <p class="blog-text">{{ blog.conte | slice: 0:70 }}...</p>

        <div class="button-container">
          <button (click)="goToBlogDetail(blog)" class="read-more-btn">
            Devamını Oku
          </button>
          <button class="edit-btn" (click)="goedit(blog)">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="delete-btn"(click)="openDeleteDialogForBlog(blog)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="blogs!.length === 0" class="no-data-container">
      <i class="fas fa-box-open no-data-icon"></i>
      <p class="no-data-message">Henüz blog eklenmemiş.</p>
      
    </div>
  </div>

  <ng-template #showProjects>
    <div class="header">
      <button class="back-btn" (click)="gomain()">←</button>
      <button class="add-blog-btn" (click)="navigateAddd()">Proje Ekle</button>
    </div>
    <div class="blog-container">
      <div *ngFor="let project of projectss" class="blog-card">
        <img [src]="project.photosUrls[0].projectPhotoUrl" alt="{{ project.title }}" class="blog-image" />
        <h3 class="blog-title">{{ project.title | slice: 0:25 }}</h3>
        <p class="blog-text">{{ project.description | slice: 0:70 }}</p>
        <button (click)="goToProject(project)" class="read-more-btn">
          Devamını Oku
        </button>
        <button class="edit-btn" (click)="goeditp(project)">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button class="delete-btn" (click)="openDeleteDialog(project)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
   
    </div>
    <div *ngIf="projectss!.length === 0"  class="no-data-container">
      <i class="fas fa-box-open no-data-icon"></i>
      <p class="no-data-message">Henüz proje eklenmemiş.</p>
      
    </div>
  </ng-template>
</div>
