.profile-container {
  display: flex;
  padding: 20px;
}

.profile-left {
  width: 30%;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.loading-overlay {
  position: fixed; /* Ekranın tamamını kaplamasını sağlar */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* İçeriği flexbox ile ortalar */
  justify-content: center; /* Yatayda ortalar */
  align-items: center; /* Dikeyde ortalar */
  background-color: rgba(0, 0, 0, 0.5); /* Arka planda yarı saydam siyah bir zemin ekler */
  z-index: 9999; /* Diğer öğelerin üstünde görünmesini sağlar */
}

.spinner-border {
  width: 100px; /* Boyutunu büyütmek için genişliği ayarla */
  height: 100px; /* Boyutunu büyütmek için yüksekliği ayarla */
  border-width: 8px; /* Çizgi kalınlığını artırarak spinner'ı büyüt */
  color: black; /* Spinner rengini beyaz yap */
}
.sr-only{
  color: black;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centered div {
  text-align: center;
}
.edit-profile-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-right {
  width: 70%;
  padding-left: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: 30%;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.project h4 {
  margin-bottom: 10px;
}

.social-media-links {
  margin-top: 20px;
  text-align: left;
}

.social-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 40%;
}

.social-link i {
  margin-right: 10px;
}

.skills-certificates {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.skills{
  width: 48%;
  text-align: left;
  margin-left: 10%;
}
 .certificates {
  width: 48%;
  text-align: left;
}

.skills h3, .certificates h3 {
  margin-bottom: 10px;

}

.skills ul, .certificates ul {
  list-style-type: none;
  padding: 0;
}

.skills li, .certificates li {
  margin-bottom: 5px;

}
.blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.comments-section {

  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.comment {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.comment strong {
  color: #333;
}

.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.comment-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-project-button,
.add-blog-button {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.add-project-button:hover,
.add-blog-button:hover {
  background-color: #0056b3;
}

.projects,
.blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog {
  flex: 1 1 30%; /* Her blog için %30 genişlik, esnek büyüme */
  max-width: 30%; /* Maksimum genişlik sınırlaması */
  min-height: 250px; /* Sabit bir yükseklik değeri */
  border: 1px solid #ddd; /* Bloglara kenarlık */
  padding: 15px; /* İçeriğe biraz boşluk */
  box-sizing: border-box; /* Padding ve border'ın genişlikten sayılması için */
  background-color: #f9f9f9; /* Arka plan rengi */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog h4 {
  margin-top: 0;
}

.blog p {
  flex-grow: 1; /* Metin içeriklerinin esnek olmasını sağlar */
}

.blog a {
  margin-top: auto; /* Blog yazısının altına "Devamını Oku" butonunu yerleştirir */
  text-decoration: none;
  color: #007bff;
}

.blog a:hover {
  text-decoration: underline;
}