body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.loading-container {
  position: fixed;  /* Sayfanın tamamına göre konumlandır */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Ortalamak için */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.spinner-border {
  width: 50px;
  height: 50px;
  border-width: 5px;
  color: #000;
}


.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.profile-left {
  flex: 1 1 300px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

  margin: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.social-media-links {
  margin-top: 20px;
}

.social-link {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s;
}

.social-link:hover {
  color: #007bff;
}

.profile-right {
  flex: 3 1 600px;
  padding: 20px;
  background-color: #fff;

  margin: 10px;
}

.projects,
.blogs {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.mars{
  margin-top: 20px;
}
.project,
.blog {
  flex: 1 1 250px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s;
}

.project:hover,
.blog:hover {
  transform: translateY(-5px);
}

.action-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #555;
}

.no-data-container {
  text-align: center;
  color: #999;
  font-style: italic;
  margin: 10% 10% 10% 30%;
}

.no-data-icon {
  font-size: 48px;
  color: #ccc;
}
.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
}

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2%;
  margin-left: 34%;
}

.edit-section input {
  padding: 5px;
  width: 49%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-section button {
  padding: 5px 2px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 9.5%;
}


@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }
  .profile-left,
  .profile-right {
    width: 100%;
    margin: 0;
  }
}
