
<div class="container">

    <div class="card-wrapper">
      <button class="back-btn" (click)=" gomain()" >←</button>
      <div class="cardd">
        
        <img class="profile-img" src="{{userinfo?.profilePhoto}}" alt="Profil Resmi">
        <div class="name" *ngIf="!isEditing">{{userinfo?.userInfos?.fullName}}</div>
  
        <div class="text" *ngIf="!isEditing">{{userinfo?.userInfos?.profession}}</div>
        <textarea  *ngIf="isEditing" type="text" [(ngModel)]="userinfo!.userInfos!.profession" class="input-salaryt" placeholder="Meslek" rows="1"></textarea>
 

        
      </div>
  
      <div class="about-section">
        <div class="header">
          <h3>Hakkında</h3>
          <button *ngIf="!otherinfo" class="edit-btn" (click)="toggleEdit()">
            {{ isEditing ? 'Kaydet' : 'Düzenle' }}
          </button>
        </div>
      
        <div class="description">
          <p *ngIf="!isEditing">{{ userinfo?.userInfos?.bio?? "-" }}</p>
          <textarea *ngIf="isEditing" [(ngModel)]="userinfo!.userInfos.bio" class="input-bio"></textarea>
        </div>
      
        <div class="education">
          <div class="education-item">
            <h4>Yetenekler</h4>
            <p *ngIf="!isEditing">
              <span *ngIf="userinfo?.skills?.length; else noSkills">
                <span *ngFor="let skill of userinfo?.skills; let last = last">
                  {{ skill.name }}<span *ngIf="!last">/ </span>
                </span>
              </span>
              <ng-template #noSkills>-</ng-template>
            </p>
            
            <div *ngIf="isEditing">
              <ng-container *ngFor="let skill of userinfo!.skills; let i = index">
            
                <textarea type="text" [(ngModel)]="userinfo!.skills[i].name" class="input-salaryr" rows="1"></textarea>
                <button class="delete-btn" (click)="deleteSkill(i)">&#10005;</button> 
              </ng-container>
              <button class="edit-btnz" (click)="addSkill()">+</button> 
            </div>
          </div>
      
          <div class="education-item">
            <h4>Maaş Beklentisi</h4>
            <p *ngIf="!isEditing">{{ userinfo?.userInfos?.salaryException?? "-" }}</p>
       <input *ngIf="isEditing" [(ngModel)]="userinfo!.userInfos.salaryException"
       class="input-salary" type="number" />
          </div>
          <button *ngIf="isEditing" (click)="cancelEditt()"  class="edit-btnt"  >
            Vazgeç
          </button>
        </div>
      </div>
      
      
      
      
  
      <div class="about-section">
        <div class="header">
          <h3>Başvuru Bilgileri</h3>
          <button   (click)="toggleEditinfo(userinfo!.userInfos)" class="edit-btn" >          {{ isInfo ? 'Kaydet' : 'Düzenle' }}</button>
        </div>
  
        <div class="education">
          <div class="education-item">
            <h4>Yaşadığı Yer</h4>
            <p  *ngIf="!isInfo">{{userinfo?.userInfos?.livingLocation?? "-"}}</p>
            <textarea  *ngIf="isInfo" type="text" [(ngModel)]="userinfo!.userInfos!.livingLocation" class="input-salary" rows="1"></textarea>
          </div>
          <div class="education-item">
            <h4>Cep Telefonu</h4>
            <p *ngIf="!isInfo">{{userinfo?.userInfos?.phone?? "-"}}</p>
            <textarea  *ngIf="isInfo" type="text" [(ngModel)]="userinfo!.userInfos!.phone" class="input-salary" rows="1"></textarea>
          </div>
          <div class="education-item">
            <h4>Uyruk</h4>
            <p *ngIf="!isInfo">{{userinfo?.userInfos?.nationality?? "-"}}</p>
            <textarea  *ngIf="isInfo" type="text" [(ngModel)]="userinfo!.userInfos!.nationality" class="input-salary" rows="1"></textarea>
          </div>
          <div class="education-item">
            <h4>T.C. Kimlik No(isteğe bağlı)</h4>
            <p  *ngIf="!isInfo">{{userinfo?.userInfos?.nationalityId?? "-"}}</p>
            <textarea  *ngIf="isInfo" type="text" [(ngModel)]="userinfo!.userInfos!.nationalityId" class="input-salary" rows="1"></textarea>
          </div>
        </div>
        <button *ngIf="isInfo" (click)="cancelEdit()"  class="edit-btnt"  >
          Vazgeç
        </button>
      </div>

      <div class="about-section">
        <div class="header">
          <h3>Kişisel Bilgilerim</h3>
          <button *ngIf="!otherinfo" class="edit-btn" (click)="toggleEditPersonalInfo(userinfo!.userInfos)">
            {{ isPersonalInfoEditing ? 'Kaydet' : 'Düzenle' }}
          </button>
        </div>
      
        <div class="education">
          <div class="education-item">
            <h4>Doğum Tarihi</h4>
            <p *ngIf="!isPersonalInfoEditing">
              <span *ngIf="userinfo?.userInfos?.birthDate; else noDate">
                {{ userinfo?.userInfos?.birthDate | date: 'dd.MM.yyyy' }}
              </span>
              <ng-template #noDate>-</ng-template>
            </p>
            
            <input *ngIf="isPersonalInfoEditing" type="date" [(ngModel)]="userinfo!.userInfos.birthDate" class="input-salary" />
          </div>
          <div class="education-item">
            <h4>Doğum Yeri</h4>
            <p *ngIf="!isPersonalInfoEditing">{{ userinfo?.userInfos?.birthplace?? "-" }}</p>
            <textarea *ngIf="isPersonalInfoEditing" [(ngModel)]="userinfo!.userInfos.birthplace" class="input-salary" rows="1"></textarea>
          </div>
          <div class="education-item">
            <h4>Cinsiyet</h4>
            <p *ngIf="!isPersonalInfoEditing">{{ userinfo?.userInfos?.gender?? "-" }}</p>
            <select *ngIf="isPersonalInfoEditing" [(ngModel)]="userinfo!.userInfos.gender" class="input-salary">
              <option [ngValue]="null">-</option>
              <option [ngValue]="'Erkek'">Erkek</option>
              <option [ngValue]="'Kadın'">Kadın</option> 
              <option [ngValue]="'Belirtmek İstemiyorum'">Belirtmek İstemiyorum</option> 
            </select>
          </div>
          <div class="education-item">
            <h4>Askerlik Durumu</h4>
            <p *ngIf="!isPersonalInfoEditing">{{ userinfo?.userInfos?.militaryServiceInfo?? "-"  }}</p>
            <select *ngIf="isPersonalInfoEditing" [(ngModel)]="userinfo!.userInfos.militaryServiceInfo"  class="input-salary">
              <option [ngValue]="null">-</option>
              <option [ngValue]="'Muaf'">Muaf</option>
              <option [ngValue]="'Tecilli'">Tecilli</option>
              <option [ngValue]="'Yapıldı'">Yapıldı</option>
              <option [ngValue]="'Yapılmadı'">Yapılmadı</option> 
            </select>
          </div>
          <div class="education-item">
            <h4>Engel Durumu</h4>
            <p *ngIf="!isPersonalInfoEditing">{{ userinfo?.userInfos?.disabilityStatus ?? '-' }}</p>
            <select *ngIf="isPersonalInfoEditing" [(ngModel)]="userinfo!.userInfos.disabilityStatus"  class="input-salary">
              <option [ngValue]="null">-</option>
              <option [ngValue]="'Engel durumum yok'">Engel durumum yok</option>
              <option [ngValue]="'Engelim var'">Engelim var</option>
            </select>
          </div>
          <div class="education-item">
            <h4>Sigara kullanıyor musun?</h4>
            <p *ngIf="!isPersonalInfoEditing">
              {{ userinfo?.userInfos?.smoke == null ? '-' : (userinfo?.userInfos?.smoke ? 'Kullanıyorum' : 'Kullanmıyorum') }}
            </p>
            
            <select *ngIf="isPersonalInfoEditing" [(ngModel)]="userinfo!.userInfos.smoke" class="input-salary">
              <option [ngValue]="null">-</option>
              <option [ngValue]="true">Kullanıyorum</option>
              <option [ngValue]="false">Kullanmıyorum</option>
            </select>
          </div>
          <button *ngIf="isPersonalInfoEditing" (click)="cancelEditPersonalInfo()"  class="edit-btnt"  >
            Vazgeç
          </button>
        </div>
      </div>
      
      <div class="about-section">
        <div class="header">
          <h3>Eğitim Bilgilerim </h3>
          <button *ngIf="!otherinfo" class="edit-btn" (click)="toggledutc(userinfo!.educationInfo)">
            {{ isEducationEditing ? 'Kaydet' : 'Düzenle' }}
          </button>
        </div>
      
        <div *ngFor="let education of userinfo?.educationInfo; let i = index" class="education-block">
          <button *ngIf="isEducationEditing" class="delete-btnb" (click)="deleteEducationInfo(i)">&#10005;</button> <!-- Çarpı butonu -->
          <div class="education-item">
            <h4>Eğitim Kurumu</h4>
            <textarea *ngIf="isEducationEditing" [(ngModel)]="education.universityName" class="input-salary" rows="1"></textarea>
            <p *ngIf="!isEducationEditing">{{ education.universityName }}</p>
          </div>
      
          <div class="education">
            <div class="education-item">
              <h4>Bölüm/Diploma</h4>
              <textarea *ngIf="isEducationEditing" [(ngModel)]="education.department" class="input-salary" rows="1"></textarea>
              <p *ngIf="!isEducationEditing">{{ education.department }}</p>
            </div>
      
            <div class="education-item">
              <h4>Başlangıç Tarihi / Bitiş Tarihi (veya Beklenen)</h4>
              <p *ngIf="!isEducationEditing">{{ education.startDate | date: 'yyyy' }} - {{ education.finishDate | date: 'yyyy' }}</p>
              <input *ngIf="isEducationEditing" type="date" [(ngModel)]="education.startDate" class="input-salary" />
              <input *ngIf="isEducationEditing" type="date" [(ngModel)]="education.finishDate" class="input-salary" />
            </div>
      
            <div class="education-item">
              <h4>Not Ortalaması</h4>
              <input *ngIf="isEducationEditing" type="number" step="0.01" [(ngModel)]="education.gpa" 
                     class="input-salary"
                     [attr.min]="education.gradeSystem === 'Dörtlük Sistem' ? 0 : 1" 
                     [attr.max]="education.gradeSystem === 'Dörtlük Sistem' ? 4 : 100"/>
              <p *ngIf="!isEducationEditing">{{ education.gpa }}</p>
            </div>
      
            <div class="education-item">
              <h4>Sınıf</h4>
              <p *ngIf="!isEducationEditing">{{ education.grade }}</p>
              <select *ngIf="isEducationEditing" [(ngModel)]="education.grade" class="input-salary">
                <option [ngValue]="null">-</option>
                <option [ngValue]="'Hazırlık'">Hazırlık</option>  
                <option [ngValue]="'1.Sınıf'">1.Sınıf</option>
                <option [ngValue]="'2.Sınıf'">2.Sınıf</option>  
                <option [ngValue]="'3.Sınıf'">3.Sınıf</option>
                <option [ngValue]="'4.Sınıf'">4.Sınıf</option>  
                <option [ngValue]="'Mezun'">Mezun</option>  
              </select>
            </div>
      
            <div class="education-item">
              <h4>Not Sistemi</h4>
              <p *ngIf="!isEducationEditing">{{ education.gradeSystem }}</p>
              <select *ngIf="isEducationEditing" [(ngModel)]="education.gradeSystem" class="input-salary" (change)="updateGpaLimits(education)">
                <option [ngValue]="null">-</option>
                <option [ngValue]="'Dörtlük Sistem'">Dörtlük Sistem</option>  
                <option [ngValue]="'Yüzlük Sistem'">Yüzlük Sistem</option>
              </select>
            </div>
        
          </div>
        </div>
      

        <button *ngIf="isEducationEditing" class="add-education-btn" (click)="addEducation()">Eğitim Ekle</button>
        <button *ngIf="isEducationEditing" (click)="cancelEducationEdit()"  class="edit-btnt"  >
          Vazgeç
        </button>
      </div>
      
      
      
  
      <div class="about-section">
        <div class="header">
          <h3>İş Deneyimleri</h3>
          <button *ngIf="!otherinfo" class="edit-btn" (click)="toggleworkexp(userinfo!.workExperiences)">
            {{ isWorkExperienceEditing ? 'Kaydet' : 'Düzenle' }}
          </button>
        </div>
      
        <div *ngFor="let workExperience of userinfo?.workExperiences; let i = index" class="education-block">
          <button *ngIf="isWorkExperienceEditing" class="delete-btnb" (click)="deleteWorkExperience(i)">&#10005;</button> 
          <div class="education-item">
            <h4>Şirket</h4>
            <textarea *ngIf="isWorkExperienceEditing" [(ngModel)]="workExperience.companyName" class="input-salary" rows="1"></textarea>
            <p *ngIf="!isWorkExperienceEditing">{{ workExperience.companyName }}</p>
          </div>
      
          <div class="education">
            <div class="education-item">
              <h4>Başlangıç Tarihi / Bitiş Tarihi (veya Beklenen)</h4>
              <p *ngIf="!isWorkExperienceEditing">{{ workExperience.startDate | date: 'yyyy.MM' }} - {{ workExperience.finalDate | date: 'yyyy.MM' }}</p>
              <input *ngIf="isWorkExperienceEditing"  type="Date" [(ngModel)]="workExperience.startDate" class="input-salary" />
              <input *ngIf="isWorkExperienceEditing" type="Date" [(ngModel)]="workExperience.finalDate" class="input-salary" />
            </div>
      
            <div class="education-item">
              <h4>Rolün</h4>
              <textarea *ngIf="isWorkExperienceEditing" [(ngModel)]="workExperience.role" class="input-salary" rows="1"></textarea>
              <p *ngIf="!isWorkExperienceEditing">{{ workExperience.role }}</p>
            </div>
      
            <div class="education-item">
              <h4>İl</h4>
              <textarea *ngIf="isWorkExperienceEditing" [(ngModel)]="workExperience.province" class="input-salary" rows="1"></textarea>
              <p *ngIf="!isWorkExperienceEditing">{{ workExperience.province }}</p>
            </div>
      
            <div class="education-item">
              <h4>Kısa İş Tanımı</h4>
              <textarea *ngIf="isWorkExperienceEditing" [(ngModel)]="workExperience.shortWorkDefination" class="input-bio" rows="3"></textarea>
              <p *ngIf="!isWorkExperienceEditing">{{ workExperience.shortWorkDefination }}</p>
            </div>
     
          </div>
        </div>
        <button *ngIf="isWorkExperienceEditing" class="add-education-btn" (click)="addWorkExperience()">İş Deneyimi Ekle</button>
        <button *ngIf="isWorkExperienceEditing" (click)="cancelEditWorkExperience()"  class="edit-btnt"  >
          Vazgeç
        </button>
      </div>
      
      <div class="about-section">
        <div class="header">
          <h3>Yabancı Diller</h3>
          <button *ngIf="!otherinfo" class="edit-btn" (click)="toggleLanguageEditing(userinfo!.foreignLanguage)">
            {{ isLanguageEditing ? 'Kaydet' : 'Düzenle' }}
          </button>
        </div>
      
        <div *ngFor="let foreignLanguage of userinfo?.foreignLanguage; let i = index" class="education-block">
          <button *ngIf="isLanguageEditing" class="delete-btnb" (click)="deleteForeignLanguage(i)">&#10005;</button> 
          <div class="education">
            <div class="education-item">
              <h4>Dil</h4>
              <input *ngIf="isLanguageEditing" [(ngModel)]="foreignLanguage.language" class="input-salary" />
              <p *ngIf="!isLanguageEditing">{{ foreignLanguage.language }}</p>
            </div>
      
            <div class="education-item">
              <h4>Seviye</h4>
              <select *ngIf="isLanguageEditing" [(ngModel)]="foreignLanguage.rating" class="input-salary">
                <option [ngValue]="null">-</option>
                <option [ngValue]="'Başlangıç'">Başlangıç</option>
                <option [ngValue]="'Ortalama'">Ortalama</option>
                <option [ngValue]="'İleri'">İleri</option>
                <option [ngValue]="'Ana Dil'">Ana Dil</option>
              </select>
              <p *ngIf="!isLanguageEditing">{{ foreignLanguage.rating || '-' }}</p>
            </div>
      
            <div class="education-item">
              <h4>Nerede öğrenildi?</h4>
              <textarea *ngIf="isLanguageEditing" [(ngModel)]="foreignLanguage.whereDidYouLearn" class="input-salary"></textarea>
              <p *ngIf="!isLanguageEditing">{{ foreignLanguage.whereDidYouLearn }}</p>
            </div>
       
          </div>
        </div>
        <button *ngIf="isLanguageEditing" class="add-education-btn" (click)="addForeignLanguage()">Yabancı Dil Ekle</button> 
        <button *ngIf="isLanguageEditing" (click)="cancelEditForeignLanguages()"  class="edit-btnt"  >
          Vazgeç
        </button>
      </div>
      
      
      
      

    <div class="about-section">
  <div class="header">
    <h3>Sertifikalar</h3>
    <button *ngIf="!otherinfo" class="edit-btn" (click)="toggleCertificateEditing(userinfo!.certificates)">
      {{ isCertificateEditing ? 'Kaydet' : 'Düzenle' }}
    </button>
  </div>

  <div *ngFor="let certificates of userinfo?.certificates; let i = index" class="education-block">
    <button *ngIf="isCertificateEditing" class="delete-btnb" (click)="deleteCertificate(i)">&#10005;</button> 
    <div class="education">
      <div class="education-item">
        <h4>Sertifika Adı</h4>
        <input *ngIf="isCertificateEditing" [(ngModel)]="certificates.title" class="input-salaryz" />
        <p *ngIf="!isCertificateEditing">{{ certificates.title }}</p>
      </div>

      <div class="education-item">
        <h4>Sertifika Url'si</h4>
        <input *ngIf="isCertificateEditing" [(ngModel)]="certificates.certificateUrl" class="input-salaryzz" />
        <p *ngIf="!isCertificateEditing">{{ certificates.certificateUrl }}</p>
      </div>

      <div class="education-item">
        <h4>Tarih</h4>
        <input *ngIf="isCertificateEditing" [(ngModel)]="certificates.dateReceived" type="date" class="input-salary" />
        <p *ngIf="!isCertificateEditing">{{ certificates.dateReceived | date: 'MM/yyyy' }}</p>
      </div>

      <div class="education-item">
        <h4>Alınan Kurum</h4>
        <input *ngIf="isCertificateEditing" [(ngModel)]="certificates.institution" class="input-salary" />
        <p *ngIf="!isCertificateEditing">{{ certificates.institution }}</p>
      </div>
  
    </div>

  </div>
  <button *ngIf="isCertificateEditing" class="add-education-btn" (click)="addCertificate()">Sertifika Ekle</button>
  <button *ngIf="isCertificateEditing" (click)="cancelEditCertificates()"  class="edit-btnt"  >
    Vazgeç
  </button>
</div>

    </div>
  </div>
  