<div class="container">
    <div class="card-wrapper">
      <div class="cardd">
        <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGHL9r9OucwArH8yO3rEDPryG4V3tSCBw-w&s" alt="Profil Resmi">
        <div class="name">{{userinfo?.userInfos?.fullName}}</div>
        <div class="text">Bilgisayar Mühendisliği</div>
      </div>
  
      <div class="about-section">
        <div class="header">
          <h3>Hakkında</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
        <p class="description">{{userinfo?.userInfos?.bio}}</p>
        <div class="education">
          <div class="education-item">
            <h4>Yetenekler</h4>
            <p>
              <span *ngFor="let skill of userinfo?.skills; let last = last">
                {{ skill.name }}<span *ngIf="!last">, </span>
              </span>
            </p>
          </div>
          <div class="education-item">
            <h4>Maas Beklentisi</h4>
            <p>{{userinfo?.userInfos?.salaryException}}</p>
          </div>
          
        </div>
      </div>
      <div class="about-section">
        <div class="header">
          <h3>Başvuru Bilgileri</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
  
        <div class="education">
          <div class="education-item">
            <h4>Yaşadığı Yer</h4>
            <p>{{userinfo?.userInfos?.livingLocation?? "-"}}</p>
          </div>
          <div class="education-item">
            <h4>Cep Telefonu</h4>
            <p>{{userinfo?.userInfos?.phone}}</p>
          </div>
          <div class="education-item">
            <h4>Uyruk</h4>
            <p>{{userinfo?.userInfos?.nationality}}</p>
          </div>
          <div class="education-item">
            <h4>T.C. Kimlik No(isteğe bağlı)</h4>
            <p>{{userinfo?.userInfos?.nationalityId}}</p>
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="header">
          <h3>Kişisel Bilgilerin</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
  
        <div class="education">
          <div class="education-item">
            <h4>Doğrum Tarihi</h4>
            <p>{{ userinfo?.userInfos?.birthDate | date: 'dd.MM.yyyy' }}</p>
          </div>
          <div class="education-item">
            <h4>Doğum Yeri</h4>
            <p>{{userinfo?.userInfos?.birthplace}}</p>
          </div>
          <div class="education-item">
            <h4>Cinsiyet</h4>
            <p>{{userinfo?.userInfos?.gender}}</p>
          </div>
          <div class="education-item">
            <h4>Askerlik Durumu</h4>
            <p>{{userinfo?.userInfos?.militaryServiceInfo}}</p>
          </div>
          <div class="education-item">
            <h4>Engel Durumu</h4>
            <p>{{userinfo?.userInfos?.disabilityStatus?? "-"}}</p>
          </div>
          <div class="education-item">
            <h4>Yeni çalışma fırsatları arıyor musun?</h4>
            <p>Evet, arıyorum.</p>
          </div>
          <div class="education-item">
            <h4>Sigara kullanıyor musun?</h4>
            <p>{{ userinfo?.userInfos?.smoke ? 'Kullanıyorum' : 'Kullanmıyorum' }}</p>
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="header">
          <h3>Eğitim Bilgisi</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
      
        <div *ngFor="let education of userinfo?.educationInfo" class="education-block">
          <div class="education-item">
            <p>{{ education.universityName }}</p>
            <h3>Üniversite</h3>
          </div>
      
          <div class="education">
            <div class="education-item">
              <h4>Bölüm</h4>
              <p>{{ education.department }}</p>
            </div>
            <div class="education-item">
              <h4>Başlangıç Tarihi / Bitiş Tarihi (veya Beklenen)</h4>
              <p>{{ education.startDate| date: 'yyyy' }} - {{ education.finishDate | date: 'yyyy'}}</p>
            </div>
            <div class="education-item">
              <h4>Not Ortalaması</h4>
              <p>{{ education.gpa }}</p>
            </div>
            <div class="education-item">
              <h4>Sınıf</h4>
              <p>{{ education.grade }}</p>
            </div>
            <div class="education-item">
              <h4>Not Sistemi</h4>
              <p>{{ education.gradeSystem }}</p>
            </div>
          </div>
        </div>
      </div>
      
  
      <div class="about-section">
        <div class="header">
          <h3>İş Deneyimi</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
        <div *ngFor="let workExperience of userinfo?.workExperiences" class="education-block">
          <div class="education-item">
       
            <p >{{workExperience.companyName}}</p>
            <h3 >Şirket</h3>
          </div>
          <div class="education">
            <div class="education-item">
              <h4>Başlangıç Tarihi / Bitiş Tarihi (veya Beklenen)</h4>
              <p>{{workExperience.startDate| date: 'yyyy.MM' }} - {{workExperience.finalDate| date: 'yyyy.MM' }}</p>
            </div>
            <div class="education-item">
              <h4>Rolün</h4>
              <p>{{workExperience.role}}</p>
            </div>
            <div class="education-item">
              <h4>İl</h4>
              <p>{{workExperience.province}}</p>
            </div>
  
            <div class="education-item">
              <h4>Kısa iş tanımı</h4>
              <p>{{workExperience.shortWorkDefination}}</p>
            </div>
          </div>
        </div>
    
      </div>
      <div class="about-section">
        <div class="header">
          <h3>Yabancı Dil</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
 
        <div *ngFor="let foreignLanguage of userinfo?.foreignLanguage" class="education-block">
        <div class="education">
          <div class="education-item">
            <h4 >Dil</h4>
            <p >{{foreignLanguage.language}}</p>
       
          </div>
          <div class="education-item">
            <h4 >Seviye</h4>
            <p >{{foreignLanguage.rating}}</p>
       
          </div>
          <div class="education-item">
            <h4>Nerede öğrenildi?</h4>
            <p >{{foreignLanguage.whereDidYouLearn}}</p>
          </div>
    </div>
     
        </div>
      </div>

      <div class="about-section">
     
        <div class="header">
          <h3>Sertifika</h3>
          <button class="edit-btn">Düzenle</button>
        </div>
        <div *ngFor="let certificates of userinfo?.certificates" class="education-block">
        <div class="education">
          <div class="education-item">
            <h4>Sertifika Adı</h4>
            <p>{{certificates.title}}</p>
          </div>
          <div class="education-item">
            <h4>Sertifika Url'si</h4>
            <p>{{certificates.certificateUrl}}</p>
          </div>
          <div class="education-item">
            <h4>Tarih</h4>
            <p>{{certificates.dateReceived| date: 'yyyy.MM'}}</p>
          </div>
          <div class="education-item">
            <h4>Alınan Kurum</h4>
            <p>{{certificates.institution}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  