.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 20px;
}

.card-wrapper {
  width: 100%;
  max-width: 850px;
}

.cardd {
  position: relative;
  width: 100%;  
  height: 220px;
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cardd::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid white;
  z-index: 1;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.text {
  color: #777;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.about-section {
  background: white;
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.edit-btn {
  background: #000;
  color: white;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.description {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

.education {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.education-item {
  width: 48%; 
  margin-bottom: 10px;
}

.education-item h4 {
  margin: 0;
  font-size: 12px; 
  font-weight: bold;
  color: #555;
}
.education-item h3 {
  margin: 0;
  font-size: 18px; 
  font-weight: bold;
  color: #333;
}
.education-block {
  margin-bottom: 20px; /* Her eğitim bloğunun arasında biraz boşluk */
}

.education-block:not(:last-child) {
  border-bottom: 1px solid #ccc; /* Eğitim bloğunun altına çizgi ekler, sonuncusu hariç */
  padding-bottom: 20px; /* Çizgi ile içerik arasında boşluk bırakır */
}
.education-item p {
  margin: 0;
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

@media (max-width: 600px) {
  .education-item {
    width: 100%;
  }
}
