<nav *ngIf="isUserLoggedIn" id="navbar-user">
    <div class="left-section">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/6588/6588143.png" alt="Logo Image" width="40" height="40">
        </div>
        <div class="logo-text">PortfolioMaker</div>
    </div>
    <div class="right-section">
        <div class="search">
            <form class="form-inline">
                <input class="form-control custom-focus" type="search" placeholder="Takma İsim" aria-label="Search">
                <button class="join-buttonn"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <button class="join-button"><i class="fa-solid fa-code-branch"></i></button>
        <button class="join-button"><i class="fa-solid fa-file"></i></button>
        <button class="join-button" (click)="logout()"><i class="fa-solid fa-sign-out-alt"></i></button>
    </div>
</nav>
<router-outlet></router-outlet>
