<div class="content">
     <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5> </div>
                <div class="card-body">
                    <form [formGroup]="blogAddForm">
            
                        <div class="mb-3">
                            <label for="userId"> UserId</label>
                            <div class="form-group">
                                <input type="number" 
                                id="userId"  
                                formControlName="userId"
                                class="form-control"
                                placeholder="Userid"
                                />
                            </div>
                        </div>
                     
                      

                      <div class="mb-3">
                        <label for="title"> Baslık</label>
                        <div class="form-group">
                            <input type="text" 
                            id="title"  
                            formControlName="title"
                            class="form-control"
                            placeholder="Baslık"
                            />
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="conte">İçerik</label>
                        <div class="form-group">
                            <input type="text" 
                            id="conte"  
                            formControlName="conte"
                            class="form-control"
                            placeholder="İçerik"
                            />
                        </div>
                      </div>
            
                    </form>
                </div>
               <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">
                    Ekle
                </button>
               </div>
         
        </div>
     </div>

</div>