<div *ngIf="isBlogPage; else showProjects">

  <div   class="blog-container">
    <button class="back-btn"(click)="goblog()">← </button>
    <h1 class="blog-title">{{ blog?.title }}</h1>
    <img [src]="blog?.blogPhoto" alt="{{ blog?.title }}" class="blog-image">
  
    <div class="line"></div>
  
    <p class="blog-content">{{ blog?.conte }}</p>
  </div>
</div>


<ng-template #showProjects>

  <div class="blog-container">
    <button class="back-btn" (click)="goProject()">← </button>
    <h1 class="blog-title">{{ project?.title }}</h1>

    <div class="blog-gallery">
      <img
        *ngFor="let photo of project?.photosUrls; let i = index"
        [src]="photo.projectPhotoUrl"
        [alt]="'Photo ' + (i + 1)"
        class="blog-image"
      />
    </div>
    <button *ngIf="project?.projectUrl?.trim()" (click)="openProjectUrl()" class="backc-btn">
      <i class="fab fa-github"></i> GitHub
    </button>
    <div class="line"></div>

    <p class="blog-content">{{ project?.description }}</p>
  </div>
</ng-template>