<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="loginForm">
      <h1>Hesap Oluştur</h1>
      <div class="social-container">
        <a class="social"><i class="fab fa-facebook-f"></i></a>
        <a class="social"><i class="fab fa-google-plus-g"></i></a>
        <a class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>ya da e-posta ile kayıt ol</span>
      <input type="text" placeholder="İsim" />
      <input type="email" placeholder="E-posta" />
      <input type="password" placeholder="Şifre" />
      <button>Kayıt Ol</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm">
      <h1>Giriş Yap</h1>
      <div class="social-container">
        <a class="social"><i class="fab fa-facebook-f"></i></a>
        <a class="social"><i class="fab fa-google-plus-g"></i></a>
        <a class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>ya da e-posta ile giriş yap</span>
      <input formControlName="email" type="email" placeholder="E-posta" />
      <input formControlName="password" type="password" placeholder="Şifre" />
      <a>Şifrenizi mi unuttunuz?</a>
      <button (click)="login()" [disabled]="isButtonDisabled">Giriş Yap</button>

    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Tekrar Hoş Geldiniz!</h1>
        <p>Bağlantıda kalmak için lütfen kişisel bilgilerinizi kullanarak giriş yapın.</p>
        <button class="ghost" id="signIn">Giriş Yap</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Merhaba, Arkadaş!</h1>
        <p>Kişisel bilgilerinizi girin ve bizimle yolculuğa başlayın.</p>
        <button class="ghost" id="signUp" (click)="gotoregister()">Kayıt Ol</button>
      </div>
    </div>
  </div>
</div>