
<div class="add-blog-container">
  <div *ngIf="isBlogPage; else showProjects">
    <h2 class="page-title">Yeni Blog Ekle</h2>

  <form (ngSubmit)="submitBlog()" class="blog-form">
    
    <div class="form-group">
      <label for="title">Başlık</label>
      <input type="text" id="title" [(ngModel)]="blog.title" name="title" required />
    </div>

    <div class="form-group">
      <label for="blogPhoto">Fotoğraf Yükle</label>
      <input type="file" id="blogPhoto" name="blogPhoto" (change)="onFileSelected($event)" />
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Önizleme" class="image-preview" />
    </div>

    <div class="form-group">
      <label for="content">İçerik</label>
      <textarea id="content" [(ngModel)]="blog.conte" name="content" rows="5" required></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="submit-btn">Yayınla</button>
      <button type="button" class="cancel-btn" (click)="cancel()">İptal Et</button>
    </div>

  </form>
  </div>
  <ng-template #showProjects>
    <h2 class="page-title">Yeni Proje Ekle</h2>

  <form  class="blog-form">
    
    <div class="form-group">
      <label for="title">Başlık</label>
      <input type="text" id="title" [(ngModel)]="project.title" name="title" required />
    </div>

    <div class="form-group">
      <label for="blogPhoto">Fotoğraf Yükle</label>
      <input type="file" (change)="onFileSelected($event)" />
      <button >Yükle</button>
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Önizleme" class="image-preview" />
    </div>

    <div class="form-group">
      <label for="content">İçerik</label>
      <textarea id="content" [(ngModel)]="project.description" name="content" rows="5" required></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="submit-btn">Yayınla</button>
      <button type="button" class="cancel-btn" (click)="cancel()">İptal Et</button>
    </div>

  </form>
  </ng-template>

</div>
